@font-face {
  font-family: 'Lyon Display Web';
  src: font-url('lyon/LyonDisplay-Medium-Web.eot');
  src: font-url('lyon/LyonDisplay-Medium-Web.eot?#iefix') format('embedded-opentype'),
     font-url('lyon/LyonDisplay-Medium-Web.woff') format('woff'),
     font-url('lyon/LyonDisplay-Medium-Web.ttf') format('truetype'),
     font-url('lyon/LyonDisplay-Medium-Web.svg#Lyon Display Web') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'KievitWebProBook';
  src: font-url('kievit/KievitWebPro-Book.eot');
  src: font-url('kievit/KievitWebPro-Book.eot?#iefix') format('embedded-opentype'),
     font-url('kievit/KievitWebPro-Book.woff') format('woff')
}

@font-face {
  font-family: 'KievitWebProBold';
  src: font-url('kievit/KievitWebPro-Bold.eot');
  src: font-url('kievit/KievitWebPro-Bold.eot?#iefix') format('embedded-opentype'),
     font-url('kievit/KievitWebPro-Bold.woff') format('woff')
}
