.county-boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

.county-boundary-selected {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}


#view_maps{


  h1 {
    font-weight: normal;
    margin: 0 0 0 10px;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid $light-blue;

    font-family:'KievitWebProBold';

    color:$dark-grey;
    font-size: 2em;


  }

}
