
<h1 id="division_title"></h1>
<div id="all_maps"></div>


<div id="map_details">




  <table width="100%">
    <tr class="labels">
      <td width="33%">Generated revenue</td>
      <td width="33%">Number of employees</td>
      <td width="33%">Number of startups</td>
    </tr>
    <tr>
      <td id="money_generated"></td>
      <td id="number_of_employees"></td>
      <td id="number_of_startups"></td>
    </tr>
  </table>






  <p> Campus impact</p>
  <div id="chords_tech"></div>



<p> Revenue per startup</p>
<div id="bubble_tech"><svg id="dots_tech_svg"></svg></div>


<p>Total revenue by tech category</p>
<table width="100%" class="nomargin">
  <tr class="labels">
    <td width="33%">Category</td>
    <td width="33%" align="right">Number of employees</td>
    <td width="33%" align="right">Generated revenue</td>
  </tr>
</table>


  <table width="100%" id="tech_areas">

  </table>
</div>


<div id="details_view">



<p>Sources of revenue per startup</p>
  <div id="pie_charts"></div>
  <div id="pie_charts_legend">
    <div class="dark_blue">revenue</div>
    <div class="light_blue">venture</div>
    <div class="orange">sbir grant</div>

  </div>
</div>
