

<div id="all_maps"></div>


<div id="map_details">

  <table width="100%">
    <tr class="labels">
      <td width="33%">Generated revenue</td>
      <td width="33%">Number of employees</td>
      <td width="33%">Number of startups</td>
    </tr>
    <tr>
      <td id="money_generated"></td>
      <td id="number_of_employees"></td>
      <td id="number_of_startups"></td>
    </tr>
  </table>

  <h1 id="division_title"></h1>







<p> Revenue per startup</p>
<div id="bubble_tech"><svg id="dots_tech_svg"></svg></div>


<p>Total revenue by tech category</p>
  <table width="100%" id="tech_areas">
  </table>
</div>


<div id="details_view">



<p>Sources of revenue per startup</p>
  <div id="pie_charts"></div>
</div>
